.ck .ck.ck-icon.ckeditor5-icons__icon {
	text-align: center;
}

.ck .ck.ckeditor5-icons__picker-header {
	height: 48px;
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__picker-header > div * {
	line-height: 1.1em;
}

.ck .ck.ckeditor5-icons__picker-header .ck.ck-dropdown__panel,
.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options .ck.ck-dropdown__panel {
	max-height: 256px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ck .ck.ckeditor5-icons__picker-header .ck.ck-dropdown__panel {
	max-height: 350px;
}

.ck .ck.ckeditor5-icons__grid {
	min-width: 350px;
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-scrollable {
	max-height: 256px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items {
	display: grid;
	grid-gap: var(--ck-spacing-standard);
	grid-template-columns: repeat(2,1fr);
	margin: var(--ck-spacing-standard) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items .ck.ckeditor5-icons__grid-item .ck.ck-button__label {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: var(--ck-icon-size);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items .ck.ckeditor5-icons__grid-item .ck.ckeditor5-icons__icon {
	position: absolute;
	display: block;
	width: var(--ck-icon-size);
	height: var(--ck-icon-size);
	text-align: center;
	padding-left: var(--ck-spacing-standard);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items .ck.ckeditor5-icons__grid-item .ck.ckeditor5-icons__icon::after {
	font-size: var(--ck-icon-size);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options-top {
	border-bottom: 1px solid var(--ck-color-base-border);
	text-align: left;
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options-bottom {
	text-align: center;
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
	padding-top: 0;
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options .ck.ckeditor5-icons__grid-expand .ck.ck-button__icon {
	width: 1em;
	height: var(--ck-dropdown-arrow-size);
	margin-left: 0;
	margin-right: var(--ck-spacing-standard);
}

.ck .ck.ckeditor5-icons__picker-footer > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: var(--ck-spacing-standard);
	height: 48px;
	border-top: 1px solid var(--ck-color-base-border);
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: var(--ck-spacing-tiny);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ckeditor5-icons__icon-info {
	display: inline-flex;
	flex-direction: column;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-name {
	font-size: var(--ck-font-size-small);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-search > .ck.ck-button {
	height: 1em;
}

.ck .ck.ckeditor5-icons__picker-header > div .ck.ckeditor5-icons__library-attr span {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin-right: .3em;
}

.ck .ck.ckeditor5-icons__picker-header > div .ck.ckeditor5-icons__library-attr svg {
	display: inline-block;
	height: 1em;
	font-size: 1em;
	vertical-align: top;
}

.ck .ck.ckeditor5-icons__picker-header > div .ck.ckeditor5-icons__library-attr,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-name {
	opacity: .6;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-label,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-name {
	line-height: 1.1em;
}

.ck .ck.ckeditor5-icons__picker-header > div .ck.ckeditor5-icons__library-attr > span {
	font-size: var(--ck-font-size-tiny);
	text-transform: uppercase;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon {
	display: inline-block;
	width: var(--ck-font-size-large);
	height: var(--ck-font-size-large);
	text-align: center;
	margin-right: var(--ck-spacing-small);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon::after {
	font-size: var(--ck-font-size-large);
}

/* Needed to fix CKEditor overriding Font Awesome styles */
.ck .ckeditor5-icons__icon.fa-solid, .ck .ckeditor5-icons__icon.fa-regular {
	font-family: 'Font Awesome 6 Free' !important;
}
.ck .ckeditor5-icons__icon.fas, .ck .ckeditor5-icons__icon.far {
	font-family: 'Font Awesome 5 Free' !important;
}
.ck .ckeditor5-icons__icon.fa-brands {
	font-family: 'Font Awesome 6 Brands' !important;
}
.ck .ckeditor5-icons__icon.fab {
	font-family: 'Font Awesome 5 Brands' !important;
}
