.ck .ck.ck-icon.ckeditor5-icons__icon {
	text-align: center;
}

.ck .ck.ckeditor5-icons__picker-header .ck.ck-dropdown__panel .ck.ck-list {
	max-height: 256px;
	overflow-y: auto;
}

.ck .ck.ckeditor5-icons__grid {
	min-width: 350px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items {
	display: grid;
	grid-gap: var(--ck-spacing-standard);
	grid-template-columns: repeat(2,1fr);
	margin: var(--ck-spacing-standard) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items  .ck.ckeditor5-icons__grid-item .ck.ck-button__label {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: var(--ck-icon-size);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items  .ck.ckeditor5-icons__grid-item .ck.ckeditor5-icons__icon {
	position: absolute;
	display: block;
	width: var(--ck-icon-size);
	height: var(--ck-icon-size);
	text-align: center;
	padding-left: var(--ck-spacing-standard);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-items  .ck.ckeditor5-icons__grid-item .ck.ckeditor5-icons__icon::after {
	font-size: var(--ck-icon-size);
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options .ck.ckeditor5-icons__grid-expand {
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 0;
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__picker-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--ck-color-base-border);
	padding: var(--ck-spacing-small) var(--ck-spacing-large);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5__picker-info,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5__picker-info > * {
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ckeditor5-icons__icon-info {
	display: inline-flex;
	flex-direction: column;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-form > *,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5__picker-info > .ck.ckeditor5-icons__focused-label,
.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options {
	font-size: var(--ck-font-size-small);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-name {
	font-size: var(--ck-font-size-small);
	opacity: .6;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-label,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon-info > .ck.ckeditor5-icons__icon-name {
	line-height: 1.1em;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5__picker-info > .ck.ckeditor5-icons__library-attr {
	font-size: var(--ck-font-size-tiny);
	opacity: .6;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5__picker-info > .ck.ckeditor5-icons__focused-label {
	display: none;
}

.ck .ck.ckeditor5-icons__grid .ck.ckeditor5-icons__grid-options .ck.ckeditor5-icons__grid-expand,
.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__library-attr {
	text-transform: uppercase;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon {
	display: inline-block;
	width: var(--ck-font-size-large);
	height: var(--ck-font-size-large);
	text-align: center;
	margin-right: var(--ck-spacing-small);
}

.ck .ck.ckeditor5-icons__picker-footer .ck.ckeditor5-icons__picker-preview .ck.ckeditor5-icons__icon::after {
	font-size: var(--ck-font-size-large);
}

/* Needed to fix CKEditor overriding Font Awesome styles */
.ck .ckeditor5-icons__icon.fa-solid, .ck .ckeditor5-icons__icon.fa-regular {
	font-family: 'Font Awesome 6 Free' !important;
}
.ck .ckeditor5-icons__icon.fas, .ck .ckeditor5-icons__icon.far {
	font-family: 'Font Awesome 5 Free' !important;
}
.ck .ckeditor5-icons__icon.fa-brands {
	font-family: 'Font Awesome 6 Brands' !important;
}
.ck .ckeditor5-icons__icon.fab {
	font-family: 'Font Awesome 5 Brands' !important;
}
